# Node
node_modules/
.pnpm-store/
.next/
.next-static/
*.log
coverage/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Docker
**/.docker/*

# Supabase
.supabase/

# Build
build/
dist/

# IDE
.vscode/
.idea/
